/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
/* img {
  vertical-align: top;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/
* {
  /* outline: 1px solid rebeccapurple; */
}
/* technical classes ===================*/
._main-container {
  margin: auto;
  width: 1160px;
  font-family: "Roboto", sans-serif;
  /* border: 5px solid #ffff00; */
  /* padding: 10px; */
}
._top-container {
  background-color: #eeeeee;
}
._flex {
  display: flex;
}
/* header  =============================== */
.header {
  width: 1160px;
  height: 70px;
  margin-top: 70px;
  justify-content: space-between;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
.header-logo {
}
.header-nav {
  width: 440px;
  height: 45px;
  margin-top: 25px;
}
.header-nav-list {
  justify-content: space-around;
}
.header-nav-list_li {
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
.header-cart {
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  /* width: 115px; */
}
.header-cart-logo {
  margin-right: 25px;
}
/*hero =========================  */
.hero {
}
.hero-texts {
}
.hero-texts_info {
}
.hero-texts_button {
}
.hero-banner {
}
/* info-trinity =============================== */
.info-trinity {
}
.info-trinity-part {
}
.info-trinity-part_img {
}
.info-trinity-part_texts {
}
.info-trinity-part_texts_info {
}
.info-trinity-part_texts_button {
}
/* this is test comment to understand if I can commit remotely */
